@font-face {
    font-family: 'ciclefina';
    src: url('fonts/cicle_fina-webfont.eot');
    src: url('fonts/cicle_fina-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/cicle_fina-webfont.woff2') format('woff2'),
    url('fonts/cicle_fina-webfont.woff') format('woff'),
    url('fonts/cicle_fina-webfont.ttf') format('truetype'),
    url('fonts/cicle_fina-webfont.svg#ciclefina') format('svg');
    font-weight: normal;
    font-style: normal;
}